/**
 * Fixes for the social sidebar.
*/

/* fixed social bar */
.rcp-fe-viewport-sidebar {
  position: fixed;
  right: 0px;
  z-index: 1;
  background: transparent !important;
  height: auto !important;
}

/* remove social bar background */
.lol-social-sidebar {
  background: transparent !important;
}

/* hide avatar level border & bottom xp ring */
lol-uikit-radial-progress .bottom.xp-ring,
lol-uikit-radial-progress .summoner-level-ring {
  display: none !important;
}

/* scale down avatar */
.lol-social-avatar {
  transform: scale(0.85);
}

/* .lol-social-roster {
  padding-bottom: 160px;
} */

/* fix alpha version view */
.alpha-version-panel {
  position: fixed;
  bottom: 1px;
  right: 1px;
  width: 223px !important;
}

/* lol-parties-game-info-panel {
  display: none !important;
} */

/* make social panel collapsible */
.lol-social-lower-pane-container {
  position: fixed;
  height: 330px;
  right: 1px;
  bottom: 36px;
  width: 223px;
  background-image: linear-gradient(rgb(7, 34, 55), rgb(1, 10, 19));
  /* border-top: 2px solid transparent;
  border-image: linear-gradient(0deg, rgb(120, 91, 40), rgb(200, 156, 60) 55%, rgb(200, 163, 85) 71%, rgb(200, 170, 110)) 1 / 1 / 0 stretch; */
  box-sizing: border-box;

  flex-flow: column-reverse;
  box-shadow: -14px -13px 39px 6px rgba(0, 0, 0, 0.5);

  border: thin solid #1e282d;
  border-right: none;
  border-bottom: none;
}

.lol-social-lower-pane-container.hidden {
  display: none;
}

/* replace bug report button */
.bug-report-button {
  background-image: url(../assets/social-button.png?inline) !important;
}

/* hide vng age rating */
/* [18+] Chơi quá 180 phút mỗi ngày sẽ ảnh hưởng sấu đến sức khỏe 🙂 */
.vng-age-rating {
  display: none !important;
}